	/* Coded with love by Mutiullah Samim */
    body,
    html {
        margin: 0;
        padding: 0;
        height: 100%;
        background: #fff  !important;
    }.form-control:focus{  outline:none;	   box-shadow: 0px;    box-shadow: none;}
.user_card {   height: 250px;    width: 400px;    margin-top: auto;    margin-bottom: auto;    position: relative;    display: flex;    justify-content: center;    flex-direction: column;    padding: 10px;    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    background: #fff4f4 !important;    border: 1px solid rgba(104, 104, 104, 0.15);    box-shadow: 0px 11px 37px rgb(72 113 215 / 9%);    border-radius: 5px;    transition: .25s;}

/* 

    .brand_logo_container {
        position: absolute;
        height: 170px;
        width: 170px;
        top: -75px;
        border-radius: 50%;
        background: #074760 ;
        padding: 10px;
        text-align: center;
    } */
    
    .brand_logo_container {
        position: absolute;
        top: -60px;
    }

    #login-form{    width: 100%;    padding: 0 30px}
    .brand_logo {
        height: 40px;
    }
    .form_container {
        margin-top: 100px;
    }
.login_btn {    width: 100%;    background: #bc0000 !important;    color: white !important;    min-height: 50px;    font-size: 17px;    transition:.25;	  }.login_btn:hover {    transition: .25s;    background: #f5c514 !important;}.form-control {    font-size: 17px;    border: 1px solid #d2e4ff;    min-height: 50px;    color: #4f5d66;    background-color: #fff;    margin-bottom: 8px !important;}
    .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    .login_container {
        padding: 0 2rem;
    }
    .input-group-text {
        background: #c0392b !important;
        color: white !important;
        border: 0 !important;
        border-radius: 0.25rem 0 0 0.25rem !important;
    }
    .input_user,
    .input_pass:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
        background-color: #c0392b !important;
    }a.btn.btn-link {    color: #000;}.container-width {    margin-top: 70px;}

    .error{
        color: red;
    }
    .invoice-response {
        padding: 20px;
        border: 1px solid #ddd;
        margin-top: 20px;
      }